/* To understand below classes in better view http://nishantpatil.com//grace/documentation */

a		{color:#272727}
a:hover	{color:#fff}

/* Navigation */
header.navbar					{background:#000;}
.navbar .nav a.current:focus,
.navbar .nav a.current,
.navbar .nav a.current:hover	{background:none; color:#fff;}
.navbar-inverse .brand, 
.navbar-inverse .nav > li > a	{color:#cbbe4f; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);}
.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover,
.navbar-inverse .nav > li > a:focus,
.navbar .nav a:hover			{color:#fff;}

/* About Us */
h3.tags						{background:#cbbe4f; color:#fff;}

#about p:hover				{color:#fff;}
#about p:hover strong		{color:#ffe506;}

/* ##### Slide Management ##### */
#home4 		{background:url(../img/grediant-black-30pc-large.png) 0px 0px repeat-x #dc4238;}
#about 		{background:url(../img/checkered_pattern.png) 0px 0px repeat #599bbc; color:#dae2e2; min-height:1000px;}
#work		{background:url(../img/checkered_pattern.png) 0px 0px repeat #d1cc3b; min-height:1000px;}
#services	{background:url(../img/checkered_pattern.png) 0px 0px repeat #a84db9; min-height:700px;}
#contact	{background:url(../img/checkered_pattern.png) 0px 0px repeat #bdca29; min-height:700px; padding:0px; position:relative;}

/*Contact */
#contact .container		{background:url(../img/dot-green.png) repeat;}

/* Service */
.serv-info .circle		{border:3px solid #fff;} 

/* Selection color works on in Modern Browser */
::-moz-selection		{background:#CBBE4F;color:#fff;}
::selection				{background:#CBBE4F;color:#fff;}