#profile-img{
  margin: 30px;
  margin 0 auto;
}

.center {
  text-align: center;
}

.work-icon {
  float: left;
  margin-left: -30px;

}
#work-section {
  padding-bottom:40px;
}
.work-description {
  color: white;
  float: left;
  margin-left: 0;
}
[class^="icon-camera-retro"]:before, [class*="icon-camera-retro"]:before, [class*="icon-file-alt"]:before{
  margin-top:20px;
  font-size: 60px;
  line-height: 60px;
  color: white;
  text-align: leftr;

}

[class^="icon-file-alt"]:before, [class*="icon-file-alt"]:before{
  font-size: 80px;
  line-height: 60px;
  color: white;
  margin-top: 20px;
  text-align: leftr;

}


[class^="icon-file-alt"]:before, [class*="icon-lightbulb"]:before{
  font-size: 80px;
  line-height: 60px;
  color: white;
  margin-top: 20px;
  text-align: leftr;

}

[class^="icon-file-alt"]:before, [class*="icon-facetime-video"]:before{
  font-size: 55px;
  line-height: 60px;
  color: white;
  margin-top: 20px;
  text-align: leftr;

}

[class^="icon-edit"]:before, [class*="icon-edit"]:before{
  font-size: 25px;
  line-height: 60px;
  text-align: left;

}

[class^="icon-plus"]:before, [class*="icon-plu"]:before{
  font-size: 25px;
  line-height: 60px;
  text-align: left;

}

.popoverEdit {
	display: none;
}

.listItemTool .toolName {
	font-weight: bold;
}

.listItemTool .toolDescription:before {
	content: " - "
}

.modal-body {
	overflow-y: visible;
}

#profile-img-circle {
	position: relative;
}

#profile-img-circle .icon-edit {
	position: absolute;
	top: 40%;
	left: 45%;
	margin: 0 auto;
}

#profile-img:hover {
	opacity: 0.5;
}

#profile-img-circle .icon-edit {
	display: none;
}

.toolDesc:before {
	content: " - "
}

#skillItemList {
	list-style-type: none;
	margin: 0;
}

.skillItem li {
	margin: 0;
}

#skillItemTemplate {
	display: none;
}

#editModal {
	left: 300px;
	top: 15px;
}

#editModal .bgImage {
	display: inline;
	margin: 0 10px;
	border: 0;
	text-decoration: none;
}

#editModal .bgImage img {
	width: 15%;
	padding: 10px;
	border: 1px solid #ccc;
}