body {
margin-top:50px;
font:700 18px/26px Roboto;
text-align:center;
}

article {
margin-bottom:20px;
font-size:26px;
text-transform:uppercase;
color:#930;
}

.span3 {
background:#eee;
padding-top:10px;
}